<!DOCTYPE html>
<html>
<head>
    <title>Buy cool new product</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<section>
    <div class="product">
        <div class="description">
            <h3>{{item.name}}</h3>
            {% if item.currency == 'usd' %}
                <h5>$ {{item.get_display_price}}</h5>
            {% else %}
                <h5>€ {{item.get_display_price}}</h5>
            {% endif %}
            <h5>{{item.descriptions}}</h5>
        </div>
    </div>
    <button type="submit" id="buy-button">Buy</button>
</section>
{% csrf_token %}
</body>
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
    var buyButton = document.getElementById('buy-button');
    buyButton.addEventListener("click", function () {
        fetch("{% url 'stripe_session_id' item.id %}", {
          method: "POST",
          headers: {
              'X-CSRFToken': csrftoken
          }
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
          })
    });
</script>


</html>